@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Warna Merah Khas */
  --brand-red: #dc2626; 
}

/* Cara paling aman di Tailwind v4 agar class terbaca */
@theme {
  --color-brand-red: var(--brand-red);
}

body {
  background: var(--background);
  color: var(--foreground);
}